@import "../../App.css";

.navbar-landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.navbar-landing.xs {
  flex-direction: column;
  height: 200px;
}

.navbar-landing.sm {
  flex-direction: row;
  height: 100px;
}
