:root {
  --color-primary: #3b0b47;
  --color-secondary: #c40061;
  --color-tertiary: #640744;
  --color-gris-01: #797979;
  --color-gris-02: #999999;
  --color-gris-03: #bfbfbf;
  --color-gris-04: #dcdcdc;
  --color-gris-05: #ececec;
  --color-gris-06: #fafafa;
  --color-gris-07: #f5f5f5;
  --fuente-titulo: "Oswald", sans-serif;
  --fuente-parrafo: "Roboto", sans-serif;
}

.bg-color-primary {
  background-color: var(--color-primary);
}
.bg-color-secondary {
  background-color: var(--color-secondary);
}
.bg-color-tertiary {
  background-color: var(--color-tertiary);
}
.bg-color-gris-01 {
  background-color: var(--color-gris-01);
}
.bg-color-gris-02 {
  background-color: var(--color-gris-02);
}
.bg-color-gris-03 {
  background-color: var(--color-gris-03);
}
.bg-color-gris-04 {
  background-color: var(--color-gris-04);
}
.bg-color-gris-05 {
  background-color: var(--color-gris-05);
}
.bg-color-gris-06 {
  background-color: var(--color-gris-06);
}
.bg-color-gris-07 {
  background-color: var(--color-gris-07);
}

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-tertiary {
  color: var(--color-tertiary);
}
.color-gris-01 {
  color: var(--color-gris-01);
}
.color-gris-02 {
  color: var(--color-gris-02);
}
.color-gris-03 {
  color: var(--color-gris-03);
}
.color-gris-04 {
  color: var(--color-gris-04);
}
.color-gris-05 {
  color: var(--color-gris-05);
}
.color-gris-06 {
  color: var(--color-gris-06);
}
.color-gris-07 {
  color: var(--color-gris-07);
}
